* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}
/* end of CSS reset*/

#root{
  width: 100%;
  min-height: 100vh;
}

#root button{
  padding: 20px;
  margin: 20px;
  background-color: brown;
}


/*           1. módszer:
position: absolute;
top: 50%;
left: 50%;
transform: translate (-50%, -50%)

              2. módszer:    ezt akkor jó használni, ha tudjuk a pontos méreteket

position: absolute;
top: calc(50% - 50px);
left: calc(50% - 50px);
width: 300px;
height: 100px;
